body {
  max-height: 100vh;
}

h1 {
  font-size: 80px;
  text-align: center;
  font-family: monospace; 
}

#all-rows {
  max-height: 100vh;
  flex: 1;
  padding: 40px;
  text-align: center;
  font-size: 5em;
}

.window {
  display: flex;
  border: 5px solid blue;
  background-color: gray;
  padding: 70px;
}

.prime-row {
  display: flex;
  border: 5px solid blue;
  background-color: gray;
  justify-content: center;
}

.prime-row > div {
  flex: 1;
}

.prime-row > div:nth-child(1) {
  border: solid;
}

.prime-row > div:nth-child(2) {
  border: solid;
}

.prime-row > div:nth-child(3) {
  border: solid;
}

.first-row > div {
  flex: 1;
}

.first-row {
  display: flex;
  border: 5px solid blue;
  background-color: gray;
  justify-content: center;
}

.first-row > div:nth-child(1) {
  border: solid;
}

.first-row > div:nth-child(2) {
  border: solid;
}

.first-row > div:nth-child(3) {
  border: solid;
}

.first-row > div:nth-child(4) {
  border: solid;
}

.second-row > div {
  flex: 1;
}

.second-row {
  display: flex;
  border: 5px solid blue;
  background-color: gray;
  justify-content: center;
}

.second-row > div:nth-child(1) {
  border: solid;
}

.second-row > div:nth-child(2) {
  border: solid;
}

.second-row > div:nth-child(3) {
  border: solid;
}

.second-row > div:nth-child(4) {
  border: solid;
}

.third-row > div {
  flex: 1;
}

.third-row {
  display: flex;
  border: 5px solid blue;
  background-color: gray;
  justify-content: center;
}

.third-row > div:nth-child(1) {
  border: solid;
}

.third-row > div:nth-child(2) {
  border: solid;
}

.third-row > div:nth-child(3) {
  border: solid;
}

.third-row > div:nth-child(4) {
  border: solid;
}

.fourth-row > div {
  flex: 1;
}

.fourth-row {
  display: flex;
  border: 5px solid blue;
  background-color: gray;
  justify-content: center;
}

.fourth-row > div:nth-child(1) {
  border: solid;
}

.fourth-row > div:nth-child(2) {
  border: solid;
}

.fourth-row > div:nth-child(3) {
  border: solid;
  flex: 2;
}
