body {
  max-height: 100vh;
}

h1 {
  font-size: 80px;
  text-align: center;
  font-family: monospace;
}

#all-rows {
  max-height: 100vh;
  flex: 1;
  padding: 40px;
  text-align: center;
  font-size: 5em;
}

.window {
  display: flex;
  border: 5px solid blue;
  background-color: gray;
  padding: 70px;
}

.row {
  display: flex;
  border: 5px solid blue;
  background-color: gray;
  justify-content: center;
}

.row > div {
  flex: 1;
  border: solid;
}
.fourth-row > div:nth-child(3) {
  border: solid;
  flex: 2;
}
